
@import url( https://developer.microsoft.com/en-us/microsoft-edge/testdrive/demos/variable-fonts);
body
{
    font-family: "Raleway",sans-serif;
    
}
#bloc-page
{
    margin-left: 20px;
    margin-left: 20px;
}

main
{
    margin: 20px;
}
a
{
    text-decoration: none;
    color:initial;
}
.liste-puce
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: #0065FC;
   
}
.filtre-ul
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    width: 900px;
   
}
.hebergements
{
    color:#0065FC;
}
section.hotels {
    display: flex;
}
.filtres-button
{

    list-style-type: none;  
    border-top:solid 2px #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-left: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: auto;
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 25px ;
   
}
.filtre-titre
{
    display: flex;
    align-items: center;
    justify-content: auto;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 25px ;
   
}

.filtre-bull-button
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    background-color:#DEEBFF ;
    border-radius: 25px;
    
    
}
.icone-info
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px; 
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-left: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-radius: 25px;
}
.info
{
    display: flex;
    justify-content: start;
    
}
.disponibilite
{
    margin-left:20px;
}


nav li
{
    
    margin: 15px;
}

#titrePrincipale
{
    display:grid; 
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.nav
{
    grid-column: 5 / 5;
    display:flex;
}
.recherche-endroie
{
    display:inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}
.icon-location
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border-radius: 14px 0px 0px 14px;
}
.recherche-endroie-input
{
    
    padding: 0 0 0 20px;
    height: 53px;
    width: 220px;
    border:none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.search-form-recherche
{
    border:none;
    border-radius: 0px 14px 14px 0px;
    color:white;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}
section.hotels {
    display: flex;
}
/*hebergement marseille*/
.hotels-principal
{
    margin-top: auto;
}
.hotels-principal-chambre
{

    margin: 20px;
    background: white;
    border-radius: 20px;
    width: 250px;
    height: 245px;
    
    
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    
 
    
   
}
 h2.hotels-principal-titre
 {
     
     grid-column-start: 1;
     grid-column-end: 4;
     margin: 20px;
 }
.hotels-principal-chambres
{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    border-radius: 20px;
    width: 1000px;
    height: 740px;
   /* margin-left: 20px;
    margin-right: 20px;*/
   /* vertical-align: baseline;*/
    align-items: baseline;
    grid-column: 5px;
    background-color: #F2F2F2;
   /*grid-template-rows: 1fr 1fr;*/

}
.hotels-principal-chambre-img-host
{
    width: 250px ;
    height: 130px;
    position: relative;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
}
.hotel-name>.hotel-price>.price>.etoile
{
    position:absolute;
    
    bottom:0;
    background-color: white;
}
.plus-dhotel
{
    margin: 20px;
}
button
{
    background-color:#0065FC;
}

i
{
    color:#0065FC;
}
/*les plus populaires*/
i.fas.fa-chart-line
{
    display: flex;
    justify-content: flex-end;
    color: black
}
/*h2.hotels-populaire-titre
{
    display: flex;
    float: left;
}*/

.hotels-populaires-chambres
{
    
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 1fr 200px 1fr  ;
    grid-column-gap: 20px;
    border-radius:20px;
    
    align-items: center;
    
    width: 450px;
    height: 740px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 20px;
    background-color: #F2F2F2;
   
}

h2.hotels-populaire-titre
{
    
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-top: 20px;
    margin:20px;
}

.hotels-populaires-chambre
{
    margin: 20px;
    background: white;
    border-radius: 20px;
    width: 400px;
    height: 150px;
   /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;

}

.hotels-populaires-chambre-img-host
{
    display:flex;
    float: left;
    position:relative;
    width: 165px ;
    height: 150px;
    margin: 0;
    margin-right: 20px;
    border-radius: 20px 0px 0px 20px;
    
    
}

/*.chambre-text-populaire
{
    display:flex;
    flex-direction: column;
    flex:1;
    min-height: 40%;
    margin:100pxpx 100px;
    position:absolute;
    box-sizing: border-box;
    bottom:0;
    background-color: white;
 }*/
 /*activity*/
 #activite
 {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr ;
     grid-template-rows: 1fr 1fr;
     grid-template-rows: 270px;
     width: 1440px;
     
 }
#activity1
 {
    display:grid;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
   
    width: 300px;
    height: 250px;
    
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
   
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
  
 }
 /*img.activity-marseille-nat1
 {
    height: 350px;
 }*/
 #activity2
 {
    display:grid;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 300px;
    height: 250px;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 #activity3
 {
    display:grid;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 300px;
    height: 250px;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
  
    
 }

 
 #activity4
 {
    display:grid;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 300px;
    height: 250px;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 #activity5
 {
    display:grid;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 300px;
    height: 250px;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 #activity6
 {
    display:grid;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 300px;
    height: 250px;
    
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 .activity-marseille-nat
 {
    width: 300px;
    height: 166px;
    border-radius: 20px 20px 0px 0px;
    background: white;
    
    
 }

 .activity-marseille-nat1
 {
     width: 300px;
     height: 166px;
     border-radius: 20px 20px 0px 0px;
 }
 .activity-marseille-nat2
 {
    width: 300px;
    height: 160px;
    border-radius: 20px 20px 0px 0px;

 }
 /*footer bloc*/
footer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
.footer-blocs
{
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}
.footer-bloc
{
    padding:30px;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}

@media screen and (max-width: 1440px)
 
{
    /* Vos règles CSS pour les mobiles ici */
}
@media screen and (max-width:550px)
{
    #titrePrincipale
    {
        display: flex;
        flex-direction: column;
    }
    .filtre-ul
    {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:1000px)
{
    section.hotels
    {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:800px)
{
    .hotels-principal-chambres
    {
        display: flex;
        flex-direction: column;
        height: auto;
        background: none;
    }
    .hotels-principal-chambre
    {
        background: white;
    box-shadow: 6px 6px 10px gainsboro;
   
    width: 300px;
    height: 250px;
    
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
   
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    }
    .hotels-principal-chambre-img-host
{
    width: 300px ;
    height: 166px;
    position: relative;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
}
}
@media screen and (max-width:1000px)
{
    #activite
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media screen and (max-width:600px)
{
    .footer-blocs
    {
        display: flex;
        flex-direction: column;
    }
}