
@import url( https://developer.microsoft.com/en-us/microsoft-edge/testdrive/demos/variable-fonts);
body
{
    
    font-family: "Raleway",sans-serif;
    
}
#bloc-page
{
    margin-left: 20px;
    margin-left: 20px;
}

main
{
    margin: 20px;
}
a
{
    text-decoration: none;
    color:initial;
}
.liste-puce
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: #0065FC;
   
}
.filtre-ul
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    width: 900px;
   
}


.filtres-button
{

    list-style-type: none;  
    border-top:solid 2px #F2F2F2;
    border-bottom: solid 2px  #F2F2F2;
    border-left: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: auto;
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 25px ;
   
}
.filtre-titre
{
    display: flex;
    align-items: center;
    justify-content: auto;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 25px ;
   
}

.filtre-bull-button
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    background-color:#DEEBFF ;
    border-radius: 25px;  
}
.filtres
{
    display: flex;
    justify-content: auto;
    width: 150px;
    margin: 10px;
}
.icone-info
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px; 
    border-top: solid 2px #F2F2F2;
    border-bottom: solid 2px #F2F2F2;
    border-left: solid 2px #F2F2F2;
    border-right: solid 2px #F2F2F2;
    border-radius: 25px;
}
.info
{
    display: flex;
    justify-content: start;
    
}
.disponibilite
{
    margin-left:20px;
}


nav li
{
    
    margin: 15px;
}

#titrePrincipale
{
    display:grid; 
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    width: 1440px;
    
    margin: auto;
}
.nav
{
    grid-column-start: 3;
    grid-column-end: 5;
    display:flex;
}
.recherche-endroie
{
    display:inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}
.icon-location
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border-radius: 14px 0px 0px 14px;
}
.recherche-endroie-input
{
    
    padding: 0 0 0 20px;
    height: 53px;
    width: 220px;
    border:none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.search-form-recherche
{
    border:none;
    border-radius: 0px 14px 14px 0px;
    color:white;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}
#icon-glass
{
    display: none;
}
section.hotels 
{
    display: flex;
}
/*hebergement marseille*/
.hotels-principal
{
    margin-top: auto;
}
.hotels-principal-chambre
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 20px;
    background: white;
    border-radius: 20px;
    width: auto;
    height: 245px;
    
    
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    
 
    
   
}
 h2.hotels-principal-titre
 {
     
     grid-column-start: 1;
     grid-column-end: 4;
     margin: 20px;
 }
.hotels-principal-chambres
{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    border-radius: 20px;
    width: auto;
    min-width: 980px;
    height: 740px;
   /* margin-left: 20px;
    margin-right: 20px;*/
   /* vertical-align: baseline;*/
    
   
    background-color: #F2F2F2;
   /*grid-template-rows: 1fr 1fr;*/

}
.hotels-principal-chambre-img-host
{
    width: auto ;
    min-width: 280px;
    height: 130px;
    position: relative;
    object-fit: cover;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
}
.hotel-name>.hotel-price>.price>.etoile
{
    position:absolute;
    
    bottom:0;
    background-color: white;
}
.plus-dhotel
{
    margin: 20px;
}
button
{
    background-color:#0065FC;
}

i
{
    color:#0065FC;
}
/*les plus populaires*/
i.fas.fa-chart-line
{
    display: flex;
    justify-content: flex-end;
    color: black
}
/*h2.hotels-populaire-titre
{
    display: flex;
    float: left;
}*/

.hotels-populaires-chambres
{
    
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 1fr 200px 1fr  ;
    grid-column-gap: 20px;
    border-radius:20px;
    
    align-items: center;
    
    width: auto;
    min-width: 440px;
    height: 740px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 20px;
    background-color: #F2F2F2;
   
}

h2.hotels-populaire-titre
{
    
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-top: 20px;
    margin:20px;
}

.hotels-populaires-chambre
{
    margin: 20px;
    background: white;
    border-radius: 20px;
    width: auto;
    min-width: 400px;
    height: 150px;
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;

}

.hotels-populaires-chambre-img-host
{
    display:flex;
    float: left;
    position:relative;
    object-fit: cover;
    width: 165px ;
    height: 150px;
    margin: 0;
    margin-right: 20px;
    border-radius: 20px 0px 0px 20px;
    
    
}

/*.chambre-text-populaire
{
    display:flex;
    flex-direction: column;
    flex:1;
    min-height: 40%;
    margin:100pxpx 100px;
    position:absolute;
    box-sizing: border-box;
    bottom:0;
    background-color: white;
 }*/
 /*activity*/
 .activity
 {
     height: 550px;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
     grid-gap: 30px;
     
     width: auto;
     
 }
 .act1
 {
     grid-row-start: 1;
     grid-row-end: span 4;
 }
 .act2
 {
     grid-column-start: 2;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: span 2;
 }
 .act3
 {
     grid-column-start: 2;
     grid-column-end: 2;
     grid-row-start: 7;
     grid-row-end: span 8;
 }
 .act4
 {
     grid-column-start: 3;
     grid-row-start: 1 ;
     grid-row-end: span 4;
     grid-column-end: 3;
 }
 .act5
 {
     grid-column-start: 4;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: span 2;
     
 }
 .act6
 {
     grid-column-start: 4;
     grid-row-start: 6;
     grid-column-end: 4;
     grid-row-end: span 7;
 }
#activity1
 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
   
    width: 340px;
    height: 550px;

    
    border-radius: 20px ;
    border-bottom: 20px;
   
    
    border: none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
  
 }
 
 /*img.activity-marseille-nat1
 {
    height: 350px;
 }*/
 #activity2
 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 340px;
    height: 306px;
    
    border-radius: 20px ;
    border-bottom: 20px;
    
    border:none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 #activity3
 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 340px;
    height: 213px;
    
    border-radius: 20px ;
    border-bottom: 20px;
    
    border:none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
  
    
 }

 
 #activity4
 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 340px;
    height: 550px;
    
    border-radius: 20px ;
    border-bottom: 20px;
    
    border: none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 #activity5
 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 340px;
    height: 215px;
    
    border-radius: 20px ;
    border-bottom: 20px;
    
    border:none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
 }
 
 #activity6
 {
    
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position:absolute;
    border-radius: 20px ;
    border-bottom: 20px;
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    width: 340px;
    height: 306px;
    
    
    border: none;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    margin: 0px;
 }
 
    
 h3.activity-titre
 {
     bottom: 0;
     display:flex;
     align-items: center;
     width: 300px;
     height: auto;
     margin: 20px;
 }
 .activity-marseille-nat1
 {
     position: relative;
     width: 340px;
     height: 480px;
     overflow: hidden;
     object-fit: cover;
     border-radius: 20px 20px 0px 0px;
     
     margin: 0px;
 }
 .activity-marseille-nat2
 {
    position:relative;
    width: 340px;
    height: 480px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background: white;
    margin: 0px;

 }

 .activity-marseille-nat3
 {
    position: relative;
    width: 340px;
    height: 245px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background: white;
    margin: 0px;
 }
 .activity-marseille-nat4
 {
    position: relative;
    width: 340px;
    height: 166px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    background: white;
    margin: 0px;
 }

 
 /*footer bloc*/
footer
{
    width: 1550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
.footer-blocs
{
    display:flex;
    justify-content: space-between;
    width: 1440px;
    
}
.footer-bloc
{
    padding:30px;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}
/*  règles CSS pour les mobiles ici */
@media screen and (max-width:1400px)
{
    .activity
    {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "act1 act2 act3"
        "act4 act5 act6"; 
    }
    .act1
    {
        grid-column-start: auto;
        grid-row-end: auto;
    }
    
    #activity1
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }
    #activity2
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }
    #activity3
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }
    #activity4
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }
    #activity5
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    } 
    #activity6
    {
        width: 300px;
        height: 280px;
        margin-bottom: 20px;
    }
    .activity-marseille-nat2
    {
        width: 300px ;
        height: 170px;
        
        margin: 0;
        border-radius:20px 20px 0px 0px;
    }
    .activity-marseille-nat1
    {
        width: 300px ;
        height: 170px;
        
        margin: 0;
        border-radius:20px 20px 0px 0px;
    }
    .activity-marseille-nat3
    {
        width: 300px ;
        height: 170px;
       
        margin: 0;
        border-radius:20px 20px 0px 0px;
    }
    .activity-marseille-nat4
    {
        width: 300px ;
        height: 170px;
       
        margin: 0;
        border-radius:20px 20px 0px 0px;
    }
}




@media screen and (max-width: 1024px)
 
{
    .bloc-page
    {
        width: auto;
    }
}


@media screen and (max-width:1000px)
{
    section.hotels
    {
        flex-direction: column-reverse;
        
    }
}




@media screen and (max-width:900px)
{
    .filtre-ul
    {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        
        width: 100px;
        
    }
    .filtre-titre
    {
        grid-column-start:1  ;
        grid-column-end: span 3 ;
    }

    h2.hotels-principal-titre
    {
        
        grid-column-start: 1;
        grid-column-end: span 2;
      
    }
    .hotels-principal-chambres
    {
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr 50px;
        min-width: 400px;
        width: auto;
        height: auto;
       
    }
    .hotels-principal-chambre
    {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 20px;
    background: white;
    border-radius: 20px;
    width: auto;
    min-width: 242px;
    height: 245px;
    
    
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    
 
    
   
    }
   
    .hotels-principal-chambre-img-host
    {
    width: 100%;
    min-width: 242px;
    height: 130px;
    position: relative;
    object-fit: cover;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
    }
   /* .hotels-principal-chambre
    {
        
    background: white;
    box-shadow: 6px 6px 10px gainsboro;
    justify-content: left;
    align-items: start;
    width: 300px;
    height: 280px;
    margin-bottom: 20px;
    grid-column-gap: 20px;
    border-radius: 20px ;
    border-bottom: 20px;
   
    
    border: 5px solid transparent;
    box-shadow: 0px 0px 0px 6px 0px #0000002e;
    }
    .hotels-principal-chambre-img-host
    {
    width: 300px ;
    height: 166px;
    position: relative;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
    }
    .chambre-text
    {
        margin-top: 0px;
        margin-bottom: 10px;
    }*/
 
}


@media screen and (max-width:600px)
{
    h2.hotels-principal-titre
    {
        
        grid-column-start: 1;
        grid-column-end: 1;
        
      
    }
    .hotels-principal-chambres
    {
       
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        
        
        background: none;
    }
    .hotels-principal-chambre
    {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 20px;
    background: white;
    border: 5px solid transparent;
    box-shadow: 6px 6px 10px gainsboro;
    border-radius: 20px;
    width: auto;
    min-width: 242px;
    height: 245px;
    
    
    
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
   
    }

    .hotels-principal-chambre-img-host
    {
    width: 100%;
    min-width: 242px;
    height: 130px;
    position: relative;
    object-fit: cover;
    margin: 0;
    border-radius:20px 20px 0px 0px;
      
    }
}
@media screen and (max-width:500px)
{
    #titre
}
@media screen and (max-width:550px)
{
    header
    {
        display: flex;
        flex-direction: column;
        
    }

    .filtre-titre
    {
        grid-column-start: 1 ;
        grid-column-end: span 2 ;
    }
    .filtre-ul
    {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
        width: 100px;
        
    }
    
    .filtres-button
    {
        
        margin-bottom:10px;
    }
    .search-form-recherche
    {
        display: none;
    }
    #icon-glass
    {
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 53px;
        height: 53px;
        color: white;
        background-color:#0065FC;
        border-radius: 0px 14px 14px 0px;
    }
    }


@media screen and (max-width:600px)
{
    .footer-blocs
    {
        display: flex;
        flex-direction: column;
    }
}